{% extends "base.html" %}
{% block title %}Great Number Game!{% endblock title%}
{% block content %}
    <h1>Welcome to the Great Number Game!</h1>
    <p>I am thinking of a number between 1 and 100</p>
    <p>Take a guess </p> 
    <p>(You've attempted {{ times }} time{{ times|pluralize }})</p>

    {% if result != None %}
        {% if result > 0 %}
            <p>Too low</p>
        {% else %}
            {% if result < 0 %}
                <p>Too high</p>
            {% else %}
                <p>{{ number }} was the number!</p> 
            {% endif %}
        {% endif %}
    {% endif %}
    <form action="" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        {% if result != 0 %}
            <input type="submit" name="submit" value="Submit">
        {% else %}
            <input type="submit" name="play_again" value="Play again">
        {% endif %}
    </form>
{% endblock content %}