{% extends "base.html" %}
{% block title %}C+R Users{% endblock title%}
{% block content %}
    <h1>All the Users</h1>
    <table border=1px solid black>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
        </tr>
        {% for user in user_list %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.email_address }}</td>
            <td>{{ user.age }}</td>
        </tr>
        {% endfor %}
    </table>

    <h1>Add a User</h1>
    <form action="" method="post">
        {% csrf_token %}
        <table>{{ user_form.as_table }}</table>
        <input type="submit" value="Add">
    </form>
    
{% endblock content %}