<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
        $(".ajax").click(function () {
          if ($("#ajax").has("p").length) {
            /* remove children of the ajax request data */
            $("#ajax").empty();
          } else {
            /* when there is no children, display ajax request data */
            $.get("ajax/", function (data) {
              $("#ajax").append(data);
            });
          }
        });
      });
    </script>
  </head>

  <body>
    <h1>This is my homepage</h1>
    <div id="ajax"></div>
    <button type="button" class="ajax">Ajax</button>
  </body>
</html>
