{% extends "base.html" %}
{% block title %}Books & Authors{% endblock title%}
{% block content %}
    <h1> {{ author.first_name }} {{ author.last_name }}</h1>
    <p> ID: {{ author.id}} </p>
    <p> Notes: {{ author.notes }} </p>

    <p>Books:</p>
    <ul>
    {% for book in author.books.all %}
        <li>{{ book.title }}</li>
    {% endfor %}
    </ul>
    <form action="{% url "add_book" author.id %}" method="post">
        {{ add_book_form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Add">
    </form>
{% endblock content %}