[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.0.8"
psycopg2-binary = "==2.8.4"
djangorestframework = "==3.11.2"
django-filter = "*"
elasticsearch-dsl = "*"
django-elasticsearch-dsl = "*"
django-elasticsearch-dsl-drf = "*"

[requires]
python_version = "3.8"
